input.error{
    background-color:rgb(255, 231, 231);
}

input[type="text"], input[type="email"], input[type="password"]{
    font-size: 1em;
    color: #555;
    padding: 0.5em 1em;
    width: 100%;
    border: 1px solid #999;
    background: none;
    -webkit-appearance: none;
    outline: none;
    height: 3em;
}

input[type="checkbox"]{

}


button, select {
    text-transform: none;
    width: 100%;
    padding: 0.5em;
    background: #fff;
}

select {
    text-transform: none;
    width: 100%;
    padding: 0.8em;
    background: #fff;
}

input + i.fa {
    color: #fff;
    font-size: 1em;
    position: absolute;
    margin-top: -47px;
    opacity: 0;
    left: 0;
    transition: all 0.1s ease-in;
}
input:focus {
    outline: none;
    color: #444;
    border-color: #2ad2c9;
    /* border-left-width: 35px;*/
}

input:focus + i.fa {
    opacity: 1;
    left: 30px;
    transition: all 0.25s ease-out;
}
.button {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: #2ad2c9;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    max-height: 60px;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    transition: all 0.1s ease-out;
    border-bottom-width: 7px;
}

.button2{
    width: 20%;
    height: 100%;
    padding: 10px 10px;
    background: #2ad2c9;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    max-height: 60px;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    transition: all 0.1s ease-out;
    border-bottom-width: 7px;
}

.button2click{
    width: 20%;
    height: 100%;
    padding: 10px 10px;
    background: #FFFFFF;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    max-height: 60px;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    transition: all 0.1s ease-out;
    border-bottom-width: 7px;
}
.button3{
    width: 70%;
    height: 100%;
    padding: 5px 5px;
    background: #EF233C;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    max-height: 30px;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    transition: all 0.1s ease-out;
    border-bottom-width: 3px;
}

.navigation {
    list-style: none;
    /**background: #2B2D42;**/
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    /**background: #edf0f4;  **/
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    /**z-index: 1; **/
    min-height:600px; background: url('/bg.jpg') repeat; 
   /** padding: 4em;**/
   /** background-image: linear-gradient(135deg, 
                      rgb(254,255,255) 0%,
                      rgb(221,241,249) 35%,
                      rgb(160,216,239) 100%);
    **/
    background-size: 200%;
   /** background: url('/download.jpg') no-repeat fixed; **/
    background-position: center; 
}
.site-bg{ 
  background: url('/bg.jpg') repeat; /*  **/
  }

.wrapper {
 background: url('/bg.jpg') repeat; opacity: 0.85;/****/ padding: 1em;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;

    width: 30px;
    height: 30px;
    cursor: pointer;
   /** background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
   
    background-image: url("https://maxcdn.icons8.com/Android/PNG/24/User_Interface/menu-24.png");**/
    background-size: contain;
}

.ff{
   color: #fff
}

.getCurrLoc, .getCurrLoc2 {
   color: #2ad2c9;
}

.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 200px;
    /**box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);**/
}

.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}

body {
    overflow-x: hidden; background: none!important;
}

h1, .h1, h2, .h2, h3, .h3{
    color: #2B2D42
}
a{
    color: #2B2D42;
}
.mNav { 
    padding-bottom: 15px; 
    padding-top: 15px;
}
.mNav a {
    text-transform: uppercase; 
    color:#fff;
}
.capT {
    text-transform: capitalize;
}
.white {
    color:#fff;
}



.map-container {
 /* width: 400px;
  max-width: 100%;
  height: 400px;*/

  position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;

}


.btn.active {                
    display: none;      
}

.btn span:nth-of-type(1)  {             
    display: none;
}
.btn span:last-child  {             
    display: block;     
}

.btn.active  span:nth-of-type(1)  {             
    display: block;     
}
.btn.active span:last-child  {              
    display: none;          
}

.navbar-inverse{padding: 12px 0; background: #2ad2c9!important; border: none;}

.footer-icons{color:#fff; }
.footer-icons:hover{color:#fff; text-decoration: none;}
.logo-text{text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.logo-outer h3 span{color: #2ad2c9;}
.logo-outer{text-align: center;}
.logo-outer h3{font-size: 2.1em;
    color: #1e9c95;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;}

.register p, .login p, .loginp p, .to p{
    margin: 21px 0px 10px 0px;
    font-weight: 600;
}

.modal-content{border-radius: 0px;}
.close{font-size: 30px; color: #000!important}
.modal-header{border-bottom:none;}
.loginp{list-style: none;}
.blueLink{color: #2ad2c9;
    margin-left: 5px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    text-decoration: none;}

.cls h3{

    font-size: 1.7em;
   
    padding-bottom: .5em;
    margin-bottom: 0.4em;
    position: relative;
}
  .cls  h3:before {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0%;
    background: #2ad2c9;
    width: 25%;
    height: 2px;
}
.to .glyphicon { right: 0px;}
.glyphicon{font-size: 2em;}



#example {
  position: absolute;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}

/**.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin-top: 195px;
}*/

.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.sk-spinner-rotating-plane.sk-spinner {
  background-color: #fff;
}

/**
* meteor map locator
**/
div#map-canvas {
  width: 100%; 
  height: 400px;
}

.bootcards-summary-item, .bootcards-summary-item:hover{
    background: #2ad2c9;

}

@font-face {
    font-family: printFailed; 
    src:
    url("/fonts/wlm_print_failed.ttf"),
    url("/fonts/wlm_print_failed.eot");
}

.bootcards-summary-item h4{color:#fff;}

.panel-warning>.panel-heading {
    color: #fff;
    background-color: #2ad2c9;
    border-color: #2ad2c9;
}
.panel-warning {
    border-color: #2ad2c9;
}

.btn:hover, .btn:focus, .btn.focus{color:#fff!important;}
.rateit span{font-weight: bold; color: #2ad2c9;}

.btn-primary {
    color: #fff;
    background-color: #2ad2c9!important;
    border-color: #2ad2c9!important;
}

.panel-default .panel-heading {
    color: #000;
    background-color: #fff;
    border-color: #ddd;
}

.panel-footer{background: #fff; border-top:0px; }

.badge {
    display: inline-block;
    /* min-width: 10px; */
    padding: 0px 7px;
    font-size: 10px;
    font-weight: bold;
    /* line-height: 1; */
    color: #000;
    text-align: center;
    white-space: none;
    vertical-align: middle;
    background-color: #fff; 
    border-radius:0px;
}

.hdr{

    margin-bottom: 2em;
    background-color: none; 
    color: #000!important;
    border-color: none;
}
#footer{
   position: fixed; bottom: 0px; width: 100%
}
img {max-width: 100%}

.logo-outere span, .rateit span{ font-weight: bold; color: #2ad2c9;}
.rateme{list-style: none; margin-left: 0px; padding-left:0px; }
.rateme li{padding: 0.5em 0em; margin-left: 0px; padding-left:0px; border-bottom: 1px solid #2ad2c9}
.estimate{width: 98%;
    height: 12em;
    border-radius: 49%;
    font-size: 13px;
    color: #fff;
    line-height: 2em;
    text-align: center;
    background: #2ad2c9;
    margin-top: 6.5em;}

  .estimate p{color: #fff}
