<template name="becomeDriver">
	
  <div class="col-xs-12 col-md-12" style="margin-top: 6em;">


    <div class="panel panel-default" style="margin-bottom: 5em;">

      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Fill in your driver & car details </h3>
      <div class="btn-group pull-right">
      
    </div>
  </div>

  <form class="form-horizontal">
    <div class="modal-body">
        <div class="form-group">

          <div class="col-xs-12">
            <label class=" control-label">Driver License: </label>
          </div>

          <div class="col-xs-12">
			        <input type="text" name="license" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">

            <label class="control-label">Car Registration Number:  </label> 
          </div>
          <div class="col-xs-12">
			     <input type="text" name="regNumber" required>
          </div>
        </div>


        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label">Car Brand</label>
          </div>
        <div class="col-xs-12">
          <select name="brand">
          <option value="Audi">Audi</option>
          <option value="BMW">BMW</option>
          <option value="Chevrolet">Chevrolet</option>
          <option value="Ford">Ford</option>
          </select>

        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label class="control-label">Car Model</label>
        </div>
        <div class="col-xs-12">
          <select name="model">
          <option value="2005">2005</option>
          <option value="2006">2006</option>
          <option value="2007">2007</option>
          <option value="2008">2008</option>
          <option value="2009">2009</option>
          <option value="2010">2010</option>
          <option value="20011">2011</option>
          <option value="2010">2012</option>
          <option value="20011">2013</option>
          <option value="2010">2014</option>
          <option value="20011">2015</option>
          <option value="2010">2016</option>                  
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
            <label class="control-label">Car Capacity</label>
        </div>
        <div class="col-xs-12">
            <select name="capacity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>

            </select>

        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label class="control-label">Select Gender Preference</label>
        </div>
      <div class="col-xs-12">
        <select name="gender">
          <option>---select---</option>>
          <option>Male</option>
          <option>Any</option>
        </select>

      </div>
    </div>
     
  </div>

    <div class="panel-footer" style="margin-bottom: 2em;">
      <a id="becomeDriver" class="btn btn-success pull-right" href="#">
      <img src="steeringwheel.png" width="32px" height="32px"></a>      
      <a id="cancel"  class="btn btn-danger pull-left" href="#">
      <span class="glyphicon glyphicon-remove-circle"></span> </a>     
    </div>
    </form>
  </div>
</div>
</template>