<!--
This template displays the screen after a driver accpts the trip
requests and drives to the pick up location of the rider
-->

<template name="driver_online">
    <form class="online_driver">
        <div class="row">
         	<div class="col-xs-12 col-md-12 to">
         	  <p>FROM </p>  


             <div class="input-group">
                
                <input type="text" class="form-control" id="sor" name="source" placeholder="Your Location" value="{{locationSor}}" required>
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-map-marker getCurrLoc"></i>
                </span>
            </div>

            </div>
          	<!-- <div class="col-xs-2 col-md-2">
         	  <span class="glyphicon glyphicon-map-marker getCurrLoc"></span>
            </div>  -->
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 to">
                <p>TO </p>   <input id="dest" type="text" placeholder="Your Destination" name="destination" required>
            </div>
            
        </div>
        
        <div class="row">
           
         <!-- {{#if alreadyAvailable}}
              
              <br/> <button style="width:100%" class="btn btn-warning"><strong> Become Unavailable </strong ></button>

          {{else}}

              <button style="width: 100%" class="clickme button2"> Become Available</button>

         {{/if}} -->
                

          {{#if notify}}

            <p style="text-align: right;">
              <button style="width: 100%" class="clickme button2" disabled="true"><strong>Waiting for request....</strong></button>
            </p> 

          {{else}}

            <p style="text-align: right;">
            <button style="width: 100%" class="clickme button2">Now I am Available</button></p> 

         {{/if}}
        </div>
      </form>

      {{#if userList}}   

        {{#each userList}}
            <div class="row" id="{{tripObject_id}}">

              <p>Ride Request</p>  
              <div class="row" style="border-top: 1px solid #ccc; padding-top: 10px;">

                <div class="col-xs-6 col-sm-6 col-md-6" style="text-transform: capitalize; vertical-align: middle;">
                <span class="glyphicon glyphicon-user"></span>
                {{object.profile.name}}
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6">
                {{distance}}km | {{driving_time}}
                </div>

              </div>
              <div class="row" style="border-top: 1px solid #ccc; padding-top: 10px;">

                <div class="col-xs-6 col-sm-6 col-md-6">
                From: <br/>
                {{source_location}}
                </div>
                

                <div class="col-xs-6 col-sm-6 col-md-6">
                To: <br/>
                {{destination_location}}
                </div>
              
              </div>
              <div class="row" style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0px;">
              
                <div class="col-xs-6 col-sm-6 col-md-6">
                <button class="js-reject btn btn-warning"> <span class="glyphicon glyphicon-remove-circle"></span>Reject</button>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6">
                <button class="js-accept btn btn-success"><span class="glyphicon glyphicon-ok-circle"></span> Accept</button> 
                </div>
              </div>
           
          </div>
        {{/each}}

      <!-- <div class="panel-footer" style="margin-bottom: 2em;">
                            <a id="becomeDriver" class="btn btn-success pull-right" href="#">
                            <img src="steeringwheel.png" width="32px" height="32px"></a>      
                            <a id="cancel"  class="btn btn-danger pull-left" href="#">
               </a>     
                    </div>
                 </form>
         </div> -->
     
        {{/if}}
</template>

