<!--
This template displays the screen after a driver accpts the trip
requests and drives to the pick up location of the rider
-->

<template name="driverToPickUp">
    <div class="col-xs-10 col-md-8" style="margin-top: 4em;">
        <!--<p>Your way to rider {{riderName}}  {{path}}</p> -->
    </div>


	<div style="margin-top: 4em;">
	{{pathGoogleMaps}}
		<iframe
		 
		  frameborder="0" style="border:0; width:100%; height:25em;"
		  src="{{pathGoogleMaps}}" allowfullscreen>
		</iframe>
	</div>

	<div class="row" style="margin-top: 1em;">
		
		<div style="" class="col-sm-12 col-md-12 col-xs-12">
	   		{{#if reachedPickUp}}
	   		<p  style="text-align: right;"><button style="width: 100%; margin-top: 3px;"  id="startTripBTn" class="clickme button">Start Trip</button></p>
              <!--  <a class="blueLink" id="startTripBTn">Start Trip</a> -->
            {{else}}

            	<p  style="text-align: right;"><button style="margin-top: 3px;width: 100%" id="atPickUpLoc" class="clickme button">Let rider know that you've reached</button></p>
                <!--<a  class="blueLink" id="atPickUpLoc">Reached at pickup location</a> -->
            {{/if}}
        </div>

		<div style="" class="col-sm-12 col-md-12 col-xs-12">
			<p  style="text-align: right;"><button style="margin-top: 3px; width: 100%"  class="clickme button2" id="me">Navigate to Pick Up Location</button></p>
	   		<!--<a id="me" href="#" class="blueLink">Navigate to Pick Up Location</a> -->
	   	</div>	   	
	
	</div>

</template>





         

