<!--
This template displays the screen when a driver starts the trip
-->

<template name="driveToFinalDestination">

	<div class="col-xs-10 col-md-8" style="margin-top: 4em;">
        <!--<p>Your way to rider {{riderName}}  {{path}}</p> -->
    </div>

    <div style="margin-top: 1em;">
		<iframe frameborder="0" style="border:0; width:100%; height:25em;"
		  src="{{pathGoogleMapsDest}}" allowfullscreen>
		</iframe>
	</div>

	<div class="row">
		<p  style="text-align: right;"><button style="margin-top: 3px;width: 100%" id="meDest" class="clickme button2">Navigate to Final Destination</button></p>
	   		<!--<a id="meDest" href="#" class="blueLink">Navigate to Final Destination</a>-->
	</div>
	<div class="row">

	   	<p  style="text-align: right;"><button style="margin-top: 3px; width: 100%" id="endTrip" class="clickme button2">End Trip</button></p>	
            <!--<a class="blueLink" id="endTrip">End Trip</a>-->
    </div>

</template>