<!--
This template displays the screen when a user to reset their password
-->

<template name="forgotpassword">
               
    <h2>Forgot Password</h2>
    <p>This is coming soon</p>
  	{{> contentFor region="nav" template="myNav"}}

</template>

