<head>
  <title> LaTrober</title>
  <meta http-equiv="cleartype" content="on">
  <meta name="MobileOptimized" content="320">
  <meta name="HandheldFriendly" content="True">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>

<template name="head">
<body>

<article>

  <div class="site-bg"> 
       <!-- -->
       {{#if currentUser}}

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav">
          <div class="container">
              <div class="row" id="bottomNav">
        
                  
              	  <div class="col-xs-8 col-sm-8 col-md-8">
                    <a href="#" id="home" class="footer-icons" style="text-align: left;">
                     <!--   <h5 class="logo-text"> LA-TROBER </h5> -->
                    

                      {{#if userType}}
                        <img src="steeringwheel.png" style="width: 23%" />
                        {{else}}
                          <img src="a.png" width ="60px" height="60px" />
                      {{/if}}
                    </a>
                  </div>

                  <div class="col-xs-1 text-center">
                   <!-- <a href="#" id="home" class="footer-icons">
                     
                      <i class="glyphicon glyphicon-home"></i>
                      <br>HOME
                    </a> -->
                  </div>

                  


                  <div class="col-xs-3" style="text-align: right;">
                    <a href="#" id="logout" class="footer-icons" style="margin-top:2em;color: #fff">
                     
                      Logout
                  
                    </a> 
                  </div>
              </div>
          </div>
        </div>
      {{/if}} 
      <div class="site-wrap">
        <div class="wrapper">

          {{> yield}}

        </div>
      </div>
    </div>


{{#if currentUser}}

  <div id="footer">
    <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
      <div class="row" id="bottomNav">
        
        <div class="col-xs-3 text-center">
          <a href="#" id="home" class="footer-icons">
           
            <i class="glyphicon glyphicon-home"></i>
            <!--<br>HOME -->
          </a>
        </div>

        <div class="col-xs-3 text-center">
          <a id="tripHistoryModal" href="/tripHistoryModal" class="footer-icons">
            <i class="glyphicon glyphicon-time white"></i>
          <!--  <br>TRIPS  -->
          </a>
          </div>

        <div class="col-xs-3 text-center">
          <a id="vehicles" href="#" class="footer-icons">
            <i class="glyphicon glyphicon-question-sign white"></i>

           
          <!--  <br>PAYMNETS -->
          </a>
        </div>

        <div class="col-xs-3 text-center">
          <a id="settingsPage" href="/settingsPage" class="footer-icons">
            <i class="glyphicon glyphicon-cog white"></i>
           <!-- <br>SETTINGS  -->
          </a>
        </div>

      </div>
    </div>
</div>


{{/if}} 
  </article>
    {{> meteorStatus}}

</body>
</template>
