<!--
This template displays the screen when a rider goes online
and helps riders send requests 
-->

<template name="hellorider">
    <form class="online_driver">
        <div class="row">
            <div class="col-xs-12 col-md-12 to">
         	 <p>FROM </p> 

            <div class="input-group">
                
              <input type="text" class="form-control" id="sor" name="source1" placeholder="Your Location" value="{{locationSor}}" required>
              <span class="input-group-addon">
                  <i class="glyphicon glyphicon-map-marker getCurrLoc"></i>
              </span>
            </div>     
        </div>
        
     	</div>

      <div class="row">
       	<div class="col-xs-12 col-md-12 to">
       	  <p>TO </p>   <input id="dest" type="text" placeholder="Your Destination" name="destination" required>
          </div>

        	<div class="col-xs-2 col-md-2">
       	</div>

      </div>

      <div class="row">
        
        <div class="col-xs-12 col-md-12">
           {{#if notify}}

               <button style="width:100%" class="clickme button2" disabled="true"><strong> Sending request Please wait...</strong ></button>

            {{else}}

              <button style="width:100%" class="clickme button2">Request A Driver</button>

        {{/if}}
        </div>     
       <div style="text-align: center;">
        <p class="estimate" style="display: none; text-align: center; ">
          <br/><br/>
          <span style="font-weight: bold;">Estimate Trip Cost : </span> AU$ 5 <br/>
          <span style="font-weight: bold;">Average Time to Pickup : </span>  10 mins</p>
        </div>
           
      </div>

        
	</form>
	
  {{> neighbors}}
</template>

