<!--
NOT IN USE NOW
-->

<template name="helpModal">
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align: right;">
          <span aria-hidden="true">&times;</span></button>
          <!--<h4 class="modal-title">Payment view | settings</h4>-->
        </div>

        <div class="modal-body">
           <div class="logo-outer" style="text-align: left"> 
                <h3 style="text-align: left" >Instructions</h3>
            </div>
        </div>
        <div style="margin: 1em">
        {{#if userType}}
        <h2>How To Start Receiving "Pick up" Requests</h2>
        {{else}}
        <h2>How To Request a Ride</h2>
        {{/if}}
        <hr>
        <p> Firstly, fill in the desired location to be picked up from by entering an address in the "From" box</p><br>
        <img src="help/frombox.png">
        <p> You can also click this icon <img src="help/currloc.png"> to select your Current Location. Please make sure that your Location Services is on.</p> <br>
        <p> Then, select your desired destination by filling in the "To" box</p> <br>
        <img src="help/tobox.png"> <br><br>
        <p> Note that if you enter a location that is relatively far from a La Trobe campus, your preferred campus will automatically be selected. </p>
        <img src="help/tolat.png"> <br>
        {{#if userType}}
         <p> After that, click on the "Become Available" button.</p> <br>
         <img src="help/Untitled-2.png"> <br>
         <p> You are now able to receive "Pick Up" requests from La Trober users. </p>
         <p> When receiving a request, you will be prompt to Accept or Reject the request</p> <br>
         <img src="help/butts.png"> <br>
         <p> After that, you will be taken to this screen. </p><br>
         <img src="help/map.png"> <br>
         <p> Click "Navigate to Pick Up Location" to start getting turn by turn instructions to the Rider's location.</p>
         <p> After you've reached the location, click "Notify Rider That You've reached them" to send the rider a notification.</p>
         <br>
         <img src="help/nav.png">
         <p> Click "Navigate to Final Destination" to start driving to the rider's desired destination.</p>
         <p> Click on "End Trip" to have a summary of your trip.</p>
        {{else}}
        <p> After that, click on the "Request A Driver" button.</p> <br>
         <img src="help/requ.png"> <br>
         <p>La Trober will then look for the nearest available driver, and in no time, you'll be on your way to that 9AM lecture we all love.</p>
         <p>You will receive a notification from the driver when he/she accepts your request.</p>
         {{/if}}

        </div>

        <div class="modal-footer">
         
            <button type="button" class="btn btn-primary" data-dismiss="modal">Ok Got It!</button>
        </div>

      </div>
    </div>
  </div>
</template>