<template name="isBoth">
	<div class="col-xs-12 col-md-12" style="margin-top: 4em; text-align: center;">

	  <div class="panel panel-default accV" style="border: none;background:none">

        <div class="panel-heading clearfix hdr" style="background:none">
        	<h3 class="panel-title " style="font-weight:bold;">Login As </h3>
        <div class="btn-group pull-right">
        
        </div>
      </div>
	 
	 
	    <div class="row">
	      <div class="col-xs-12 col-sm-12">
	        <a class="bootcards-summary-item" href="#" id="driver">
	          <img src="steeringwheel.png" width="64px" height="64px">
	          <p></p>
	          <h4>Driver</h4>
	        </a>
	      </div>
	      </div>
	      <div class="row" style="margin-top: 3em;">
	      <div class="col-xs-12 col-sm-12 ">
	        <a class="bootcards-summary-item" href="#" id="rider">
	          <img src="a.png" width="64px" height="64px">
	          <p></p>
	          <h4>Rider</h4>
	        </a>
	      </div>

	    </div>
	  </div>					
	</div>
</template>