<!--
NOT IN USE NOW
This template displays the landing screen
-->

<template name="landingPage">
 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav">
    <div class="container">
      <div class="row" id="bottomNav">
        
         <!-- <div class="col-xs-4 text-center">
            <a href="#" id="home" class="footer-icons">
             
              <i class="glyphicon glyphicon-home"></i>
              <br>HOME
            </a> 
          </div>-->

          <div class="col-xs-8 text-center">
            <a href="#" id="home" class="footer-icons">
              <h5 class="logo-text"> LA TROBER </h5>

            </a>
          </div>


          <div class="col-xs-4 text-center">
           <!-- <a href="#" id="signUpModald" class="footer-icons">
             
              <i class="glyphicon glyphicon-user" style="font-size: 19px;margin-top:10px;"></i>
            
            </a> -->

            <a href="#" id="login" class="footer-icons">
             
              <i class="glyphicon glyphicon-user" style="font-size: 19px;margin-top:10px;"></i>
            
            </a>

          </div>
        </div>
      </div>
    </div>

 
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12 text-center">
        <h2 style="color:#2ad2c9; text-align: center; margin-top: 2em;" > WELCOME TO LATROBER !</h2>
      </div>

       
	    <div class="col-sm-6 col-md-6  col-xs-12 cls">
  	    <h3 style="font-weight: 600px;">Drive peers to/from uni and earn </h3> 
          <p>All you have to do is be friendly </p>
            <p>And offer ride to your peers and earn money</p>
            <div style="margin-top:20px"> 
              <img src="driver.jpg" style="width:100%; max-height: 300px;"/>
            </div>
  	  </div>

      <div class="col-sm-6 col-md-6  col-xs-12 cls">
      		<h3 style="font-weight: 600px;"> Reach uni faster - connect to nearby peers drivers</h3>
          <p>Request, manage, pay for La Trober rides</p>
          <p>Track all rides you request</p>
          <div style="margin-top:20px; margin-bottom: 2em;">
            <img src="rider.jpg" style="width:100%; max-height: 300px;"/>
      </div>
  
    </div>
  </div>

  <div id="footer" >
    <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
      <div class="row" id="bottomNav" style="text-align: center;">
          Copyright &copy; 2016 @ LATROBER | All Rights Reserved
      </div>
    </div>
  </div>

</template>