<!--
This template displays the  login screen 
-->

<template name="login">
	
  <div class="logo-outer"> 
    <img src="logo final png.png" width="100px" height="100x">   <br> <br>
    <img src="logo text 2 .png" width="250px" height="45px">  
  
  </div>

  <form class="login">
    <p>EMAIL </p> 
    <input type="email" name="email" required>
    <p>PASSWORD  </p> 
    <input type="password" name="password" required>
    <p><input id="clos" type="submit" value="Login" class="btn  button"></p>
  </form>
    

	<div class="loginp">
  	<p> DON’T HAVE AN ACCOUNT ? 
  	  <a href="#" class="blueLink" id="signUpModaldh" >SIGN UP</a>
    </p>
  </div>

             
</template>

