<!--
This template displays the screen for rider when a driver accepts the request
-->

<template name="myTemplate">
	<div style="margin-top: 7em;">
		<div class="logo-outer" style="text-align: left;">
              <h3 style="text-align: left;">{{msg}}  </h3>
            </div>

	</div>
	<div  class="beforePickupScreen" style="margin-top: 2em; " >
	   <!-- <iframe
	     frameborder="0" style="border:0; width:100%; height:18em;"
	      src="{{pathGoogleMapsDriverLoc}}" allowfullscreen>
	    </iframe> -->


    {{#if driverDetails}}     
    	{{#each driverDetails}}
           
            <div class="panel panel-warning bootcards-summary">
			  	<div class="panel-heading">
			    	<h3 class="panel-title"><center>Driver Arrival Info</center></h3>
			 	</div>
				<div class="panel-body">
				    <div class="row">
				      <div class="col-xs-6 col-sm-4 beforePickupScreenDist" >
				        <a class="bootcards-summary-item">
				          <img src="clock.png" width="64px" height="64px">
				          <h4 style="font-size: 13px; margin-top: 4px;">{{travel_time}} |  {{travel_dist}}</h4>
				        </a>
				      </div>
				      <div class="col-xs-6 col-sm-4">
				        <a class="bootcards-summary-item">
				          <img src="person.png" width="64px" height="64px">
				          <h4 style="font-size: 13px; margin-top: 4px;">Name: {{driverName}} </h4>
				        </a>
				      </div>
				      <div class="col-xs-6 col-sm-4">
				        <a class="bootcards-summary-item">
				          <img src="phone.png" width="64px" height="64px">
				          <h4 style="font-size: 13px; margin-top: 4px;"><a style="color: #fff;" href="tel:+6149876543">+61 49876543</a></h4>
				        </a>
				      </div>
				      <div class="col-xs-6 col-sm-4">
				        <a class="bootcards-summary-item">
				          <img src="car.png" width="64px" height="64px">
				          <h4 style="font-size: 13px; margin-top: 4px;">Car Reg.: {{carRego}}</h4>
				        </a>
				      </div>
				      <!--<div class="col-xs-6 col-sm-4">
				        <a class="bootcards-summary-item">
				          <img src="Distance.png" width="64px" height="64px">
				          <p></p>
				          <h4></h4>
				        </a>
				      </div> -->
				      <!--<div class="col-xs-6 col-sm-4">
				        <a class="bootcards-summary-item">
				          <img src="rate.png" width="64px" height="64px">
				          <p></p>
				          <h4>Rate</h4>
				        </a>
				      </div>  -->       
				    </div>
				  </div>

				</div>
			{{/each}}
    	{{/if}}
	</div>


  	<div style=" display: none;" class="afterPickupScreen">
  	  	<div class="row" style="margin-top: 4em;">
         	{{#if driverDetailsDest}}
  				{{#each driverDetailsDest}}

                  <div class="panel panel-warning bootcards-summary">
					  <div class="panel-heading">
					    <h3 class="panel-title"><center>Trip Info</center></h3>
					  </div>
					  <div class="panel-body">
					    <div class="row">
					      <div class="col-xs-6 col-sm-4">
					        <a class="bootcards-summary-item" href="#">
					          <img src="clock.png" width="64px" height="64px">
					          <h4 style="font-size: 13px; margin-top: 4px;">Arrival:  {{travel_time_dest}} |  {{travel_dist_dest}}</h4>
					        </a>
					      </div>
					      <div class="col-xs-6 col-sm-4">
					        <a class="bootcards-summary-item" href="#">
					          <img src="person.png" width="64px" height="64px">
					          <h4 style="font-size: 13px; margin-top: 4px;">Name: {{driverName}} </h4>
					        </a>
					      </div>
					      <div class="col-xs-6 col-sm-4">
					        <a class="bootcards-summary-item" href="#">
					          <img src="phone.png" width="64px" height="64px">
					          <h4 style="font-size: 13px; margin-top: 4px;"><a style="color: #fff;" href="tel:+6149876543">+61 49876543</a></h4>
					        </a>
					      </div>
					      <div class="col-xs-6 col-sm-4">
					        <a class="bootcards-summary-item" href="#">
					          <img src="car.png" width="64px" height="64px">
					          <h4 style="font-size: 13px; margin-top: 4px;">Car Reg.: {{carRego}}</h4>
					        </a>
					      </div>
					      <!--<div class="col-xs-6 col-sm-4">
					        <a class="bootcards-summary-item" href="#">
					          <img src="Distance.png" width="64px" height="64px">
					          <p></p>
					          <h4>Distance: {{travel_dist_dest}}</h4>
					        </a>
					      </div>
					      <div class="col-xs-6 col-sm-4">
					        <a class="bootcards-summary-item" href="#">
					          <img src="rate.png" width="64px" height="64px">
					          <p></p>
					          <h4>Rate</h4>
					        </a>
					      </div>  -->       
					    </div>
					  </div>

				</div>
			{{/each}}
  		{{/if}}
  	</div>
  </div>
</template>

