<!--
NOT IN USE NOW
This template renders the nearby drivers for the riders to see-->

<template name="neighbors">
    {{#each near}}
        <div class="row-xs-12" id="{{_id}}">
            <p>
                <span class="glyphicon glyphicon-user">&nbsp;</span>
                <span class="capT">  {{user}} &nbsp; &nbsp; &nbsp;</span>
                {{name}} &nbsp; &nbsp; &nbsp;
                <button class="js-accept btn btn-success">Send Request</button>
    		</p>
        </div>
    {{/each}}
</template>


