<!--
NOT IN USE NOW
-->


<template name="pathToPickup">
	
    <div class="row">
        <div class="col-xs-10 col-md-8">
            <!--<p>Your way to rider {{riderName}}</p> -->
        </div>
        <div class="col-xs-2 col-md-4">

        </div>
        <div class="map-container" style="height: 6em; width: 90%">
            {{> googleMap name="exampleMap" options=exampleMapOptions}}
          
        </div>
        <br/><br/><br/>

        {{#if reachedPickUp}}
          <p  style="text-align: right;">
          <button style="width: 100%" id="startTripBTn" class="clickme button2">Start Trip</button></p>
          <a id="startTripBTn">Start Trip</a>
             {{else}}

          <a id="atPickUpLoc">Reached at pickup location</a>
        {{/if}}

    </div>

</template>

