<!--
NOT IN USE NOW
-->

<template name="paymentsModal">
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <!--<h4 class="modal-title">Payment view | settings</h4>-->
        </div>

        <div class="modal-body">
           <div class="logo-outer"> 
                <h3><a href="#">L<span>A</span> <span> </span> T<span>R</span>O<span>B</span>E<span>R</span></a></h3>
            </div>
           Coming soon
        </div>

        <div class="modal-footer">
         <!-- <button type="button" class="btn btn-primary" id="save">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
        </div>

      </div>
    </div>
  </div>
</template>