<!-- This template renders rating on the driver side -->

<template name="rateingByDriver">

	<div class="row" style="margin-top: 4em; ">

		<div class="col-sm-12 col-xs-12">

		</div>
		<div class="col-sm-12 col-xs-12" style="text-align: center;">
			
            <div class="logo-outer" style="text-align: left;">
              <h3 style="text-align: left;">Please rate the trip </h3>
            </div>
          
			</div> 
			<div class="col-sm-12 col-xs-12 col-md-12">
			<div style="text-align: center;">

			{{>starsRating mutable=true class="js-rate-image"  size='lg'}}

			</div>

		</div>

	</div> 

	<div class="row" style="margin-top: 2em; ">
		
		<div class="col-sm-12 col-xs-12 rateit" style="text-align: left;">
			<div class="logo-outer" style="text-align: left;">
				<h3 style="text-align:left;" >Trip Summary</h3>
			</div>
			<ul class="rateme">
				<li>
					<span>From: </span>  {{from}}
				</li>
				<li>
					<span>To: </span>  {{toAddr}}
				</li>
				<li>
					<span>Cost: </span> AU$ 5
				</li>
				<li>
					<span>Carbon Saved: </span> 4kg
				</li>
				<!--<li>
					<span>Distance travelled: </span> {{travel_dist}}
				</li>
				<li>
					<span>Duration:  </span> {{travel_time}}
				</li> -->
			</ul>
		</div>

		  <!--  {{/each}} -->
        {{#if riderDetails}}   {{/if}}

	</div>
</template>