<!--
This templates renders the register screen for the rider/driver 
-->

<template name="register">

  <div class="logo-outer"> 
    <img src="logo final png.png" width="100px" height="100x">   <br> <br>
    <img src="logo text 2 .png" width="250px" height="45px">  
    <!-- <h3><a href="#">L<span>A</span> <span> </span> T<span>R</span>O<span>B</span>E<span>R</span></a></h3> -->
  </div>
            

  <!--  <h2>Register</h2> -->
        
  <form class="register">

    <p>NAME </p> 
    <input type="text" name="name" required>

    <p>EMAIL</p>

    <input type="email" name="email" required>

    <p>PASSWORD </p>
    <input type="password" name="password" required>
    <p>La Trobe Campus: </p>
    
    <select name="campus">
        <option value="Latrobe University, Melbourne Campus">Bundoora Campus</option>
        <option value="LaTrobe University, City Campus">Melbourne City</option>
        <option value="LaTrobe University, Bendigo Campus">Bendigo Campus</option>
        <option value="LaTrobe University, Albury-Wodonga campus">Albury-Wodonga campus</option>
        <option value="LaTrobe University, Franklin Street Campus">Franklin Street campus</option>
        <option value="LaTrobe University, Mildura Campus">Mildura campus</option>
        <option value="LaTrobe University, Shepparton Campus">Shepparton campus</option>
        <option value="LaTrobe University, Sydney Campus">Sydney campus</option>
                                  
    </select>
                

      <p> 
        <input type="radio" name="usertype" value="rider" id="rider" checked="checked"> Rider
        &nbsp;&nbsp;
        <input type="radio" name="usertype" value="driver" id="driver" > Driver
      </p>

      {{#if validation}}
        <p>LICENCE NUMBER</p>
        <input type="text" name="license" required>

        <p>REGO NUMBER</p>
        <input type="text" name="regNumber" required>

        <!--    <div class="col-xs-4"> -->
          <p>BRAND</p>
          <select name="brand">
            <option value="Audi">Audi</option>
            <option value="BMW">BMW</option>
            <option value="Chevrolet">Chevrolet</option>
            <option value="Ford">Ford</option>
          </select>
          <!--  </div>  -->

          <!-- <div class="col-xs-4"> -->
          <p>MODEL</p>
          <select name="model">
            <option value="2005">2005</option>
            <option value="2006">2006</option>
            <option value="2007">2007</option>
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="20011">2011</option>
            <option value="2010">2012</option>
            <option value="20011">2013</option>
            <option value="2010">2014</option>
            <option value="20011">2015</option>
            <option value="2010">2016</option>                  
          </select>

          <!--   </div>  -->

            
            
          <!-- <div class="col-xs-4">  -->
          <p>CAR CAPACITY</p>
          <select name="capacity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <!--  </div>  -->
      {{/if}}
                       

      <div class="squaredTwo"> 
          <br/>
          <p> <input  class="js-switch"  type="checkbox" id="squaredTwo" value="" name="termsOfUse">
           I ACCEPT 
          <a href="#" class="blueLink" id="termsModal"><b>TERMS OF USE</b></a>
          </p>
      </div>

      <p><input type="submit" class="btn btn-success button" value="Register"></p>
    </form>

    <div class="loginp">
        <p> ALREADY HAVE AN ACCOUNT ? 
        <!--{{pathFor route='register'}} -->
        <a href="#" class="blueLink" id="signUpModaldh" >SIGN IN</a>
        </p>
    </div>
</template>
