<!--
This templates renders the setting screen for the users
-->

<template name="settingsModal">
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <!--<h4 class="modal-title">Settings view / edit</h4>-->
        </div>

        <div class="modal-body login">

           <div class="logo-outer"> 
                <h3><a href="#">L<span>A</span> <span> </span> T<span>R</span>O<span>B</span>E<span>R</span></a></h3>
            </div>

             <!-- Change all my settings here.. coming soon -->

             <!-- <h1>My Photo</h1> -->
             <!-- <button class="buttonc">Capture Photo</button>

             {{#if photo}}
                 <div>
                  <img src={{photo}} />
                </div>
              {{/if}}

              -->
              
              <!-- 
              Displays users photo
              -->

                <a href="#" id="logout" class="footer-icons" style="color: #000">
                     
                      <i class="glyphicon glyphicon-log-out"></i> Logout
                  
                    </a>  
              {{> cameraEvent}}
              {{> libraryEvent}}
              {{> img}}





              <form class="editme">
                <p><label for="name">Name: {{username}} </label> </p>
                
                <input type="text" value ="{{username}}" id="userName" name="updatedName"/>
                                 
                <!--  <label for="name">User Type: </label>
                  <p> {{usertype}}</p>
                  
                  <label for="name">Change Your Email:</label>
                  <input type="text" value ="{{email}}" id="updatedEmail" name="updatedEmail"/> -->
                 
                <p><input type="submit" class="btn btn-success button editme" value="Update"></p>
               </form>

              <!-- {#if usertype}}   {{/if}} -->

               <h3>Your Vehicles: </h3>

               <h3>Add a new car: </h3>


               <h2>Update car details car: </h2>

               <br>
               <form class="editme">
                  <label for="name">Car Registration Number:  </label> 
                  <input type="text" value ="{{newVin}}" id="newVin" name="newVin"/>
                  <br><br>
                  <label for="name">Select Gender Preference</label>
                  <select name="gender">
                    <option>---select---</option>>
                    <option>male</option>
                    <option>Any</option>
                  </select>
                 
                  <p><input type="submit" class="btn btn-success button editme" value="Update"></p>

                  
               </form>


           



        </div>

        <div class="modal-footer">
         <!-- <button type="button" class="btn btn-primary" id="save">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
        </div>

      </div>
    </div>
  </div>
</template>

<template name="cameraEvent">
  <div class="login">
    <p>Camera</p>
    <button>Click Me</button>
  </div>
</template>

<template name="libraryEvent">
  <div class="login">
    <p>Library</p>
    <button>Click Me</button>
  </div>
</template>

<template name="img">
  <div class="login">
    {{#if img}}
      <img src="{{img}}" alt="">
    {{else}}
      <p>No image yet.</p>
    {{/if}}
  </div>
</template>
