<!-- this template renders the settings page for users -->

<template name="settingsPage">

  <div class="col-xs-12 col-md-12" style="margin: 6em 0em;">

    <div class="panel panel-default accV" style="">

      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">My Account </h3>
        <div class="btn-group pull-right">
        {{#if isBoth}}  
          {{#if userType}}
                          
            <a id="switchToRider" class="btn btn-primary pull-right" href="#">
              <img src="a.png" width="32px" height="32px">
                Switch To Rider
            </a> 

            {{else}}

            <a id="switchToDriver" class="btn btn-primary pull-right" href="#">
              <img src="steeringwheel.png" width="32px" height="32px">
                    Switch To Driver
            </a> 

          {{/if}}
          {{else}}  
            {{#unless userType}}
              <a id="becomeDriver" class="btn btn-primary pull-right" href="#">
                <img src="steeringwheel.png" width="32px" height="32px">
                      Become a driver!
               </a>  
            {{/unless}} 
            {{#if userType}}  
               <a id="switchToRider" class="btn btn-primary pull-right" href="#">
                <img src="a.png" width="32px" height="32px">
                  Become a rider!
                </a> 

            {{/if}} 
          {{/if}}
        </div>
      </div>

      <form class="form-horizontal">
        <div class="modal-body">
          
          <div class="form-group">
            <label class="col-xs-9 control-label">Name: </label><br/>
            <div class="col-xs-12">
              <input type="text" id="userName" name="updatedName" value ="{{username}}">
            </div>
          </div>
          {{#if userType}}

            <div class="form-group">
               <label class="col-xs-9 control-label">Select Gender Preference</label><br/>

                <div class="col-xs-12">

                  <select name="gender">
                    <option value ="{{username}}">---select---</option>>
                    <option>Male</option>
                    <option>Any</option>
                  </select>

                </div>
              </div>
          {{/if}}

          <div class="form-group">
            <label class="col-xs-9 control-label">Campus Preference</label><br/>
         
              <div class="col-xs-12">
                     <select name="campus">
                            <option value="Latrobe University, Melbourne Campus">Bundoora Campus</option>
                            <option value="LaTrobe University, City Campus">Melbourne City</option>
                            <option value="LaTrobe University, Bendigo Campus">Bendigo Campus</option>
                            <option value="LaTrobe University, Albury-Wodonga campus">Albury-Wodonga campus</option>
                            <option value="LaTrobe University, Franklin Street Campus">Franklin Street campus</option>
                            <option value="LaTrobe University, Mildura Campus">Mildura campus</option>
                            <option value="LaTrobe University, Shepparton Campus">Shepparton campus</option>
                            <option value="LaTrobe University, Sydney Campus">Sydney campus</option>
                    </select>
              </div>
          </div>

          <div class="panel-footer" style="padding: none;">
           
            <input style="width:100%; padding: 1em;" type="submit" class="btn btn-primary" value="Save">
         
               
          </div>
        </div>   
      </form>
    </div>

    {{#if userType}}
      <div class="panel panel-default">

        <div class="panel-heading clearfix">
          <h3 class="panel-title pull-left">Driver Settings </h3>
        <div class="btn-group pull-right">
                          
      </div>
    </div>

    <form class="form-horizontal">
      <div class="modal-body">
        <div class="form-group">
          <label class="col-xs-9 control-label">Driver License: </label><br/>
            <div class="col-xs-12">
              <input type="text" name="license" required value ="{{license}}"> 
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-12 control-label">Car Registration Number:  </label> <br/>
              <div class="col-xs-12">
                 <input type="text" name="regNumber" required value ="{{regNumber}}">
              </div>
          </div>


          <div class="form-group">
            <label class="col-xs-9 control-label">Car Brand</label><br/>
            <div class="col-xs-12">
              <select name="brand">
                <option value="Audi">Audi</option>
                <option value="BMW">BMW</option>
                <option value="Chevrolet">Chevrolet</option>
                <option value="Ford">Ford</option>
              </select>

            </div>
          </div>

        <div class="form-group">
          <label class="col-xs-9 control-label">Car Model</label><br/>
            <div class="col-xs-12">
              <select name="model">
                <option value="2005">2005</option>
                <option value="2006">2006</option>
                <option value="2007">2007</option>
                <option value="2008">2008</option>
                <option value="2009">2009</option>
                <option value="2010">2010</option>
                <option value="20011">2011</option>
                <option value="2010">2012</option>
                <option value="20011">2013</option>
                <option value="2010">2014</option>
                <option value="20011">2015</option>
                <option value="2010">2016</option>                  
              </select>
            </div>
          </div>

         <div class="form-group">
            <label class="col-xs-9 control-label">Car Capacity</label><br/>
              <div class="col-xs-12">
                <select name="capacity">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>

                </select>

              </div>
            </div>

                   
            </div>

              <div class="panel-footer">
                <input style="width:100%; padding: 1em;" type="submit" class="btn btn-primary" id ="updateCar" value="Save">

              </div>
          </form>
        </div>

      {{/if}}
  </div>

</template>

