<!--This template renders the terms and conditions -->

<template name="termsModal">
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header" style="float: right;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title blueLink">LA TROBER TERMS AND CONDITIONS</h3>
        </div>

        <div class="modal-body login">
        <h2> 1. Contractual relationship</h2>
        <p>
          These terms of use govern the access or use by you, an individual, from within any part of the Australia of application and services made available by La Trober.
          <br/>
          <span style="font-size: uppercase"> PLEASE READ THESE TERMS CAREFULLY BEFORE ACCESSING OR USING THE SERVICES. </span>
          <br/>
          Your access and use of the services constitutes your agreement to be bound by these terms, which establishes a contractual relationship between you and La Trober. If you do not agree to these terms, you may not access or use the services. These terms expressly supersede prior agreements or arrangements with you. La Trober may immediately terminate these terms or any services with respect to you, or generally cease offering or deny access to the services or any portion thereof, at any time for any reason. 
  		  </p>

    		<p>

          La Trober may amend the terms related to the services from time to time. Amendments will be effective upon La Trober’s posting of such updated terms at this location or the amended policies or supplemental terms on the applicable service. Your continued access or use of the services after such posting constitutes your consent to be bound by the terms, as amended. La Trober may provide to a claims processor or an insurer any necessary information (including your contact information) if there is a complaint, dispute or conflict, which may include an accident, involving you and a third party provider (including a transportation network company driver) and such information or data is necessary to resolve the complaint, dispute or conflict.

    		</p>
        <h2> 2. The services </h2>
    		<p>
          The services constitute a technology platform that enables La Trobe students to arrange and schedule transportation services with other La Trobe students (providers of such services).<br/>
          You acknowledge that La Trober does not provide transportation or function as a transportation carrier and that all such transportation or services are provided by and for La Trobe students only.
          License.<br/>
          Subject to your compliance with these terms, La Trober grants you a license to: (i) access and use the applications on your personal device solely in connection with your use of the services; and (ii) access and use any content, information and related materials that may be made available through the services, in each case solely for your personal, non-commercial use.          

    		</p> 
        <h2> 3. User accounts</h2> 
        <p >
          Inorder to use most aspects of the services, you must register for and maintain an active personal user services account. You must be at least 18 years of age, or the age of legal majority in your jurisdiction (if different than 18), to obtain an account. Account registration requires you to submit to La Trober certain personal information, such as your name, address, mobile phone number and age, as well as at least one valid payment method (either a credit card or accepted payment partner). You agree to maintain accurate, complete, and up-to-date information in your account. Your failure to maintain accurate, complete, and up-to-date account information, including having an invalid or expired payment method on file, may result in your inability to access and use the services or La Trober’s termination of these terms with you. You are responsible for all activity that occurs under your account, and you agree to maintain the security and secrecy of your account username and password at all times. Unless otherwise permitted by La Trober, you may only possess one account. 
        </p> 

        <h2> 4. Payment</h2> 
        <p>
          You understand that use of the services may result in charges to you for the services or goods you receive from a La Trober provider. After you have received services or goods obtained through your use of the service, La Trober will facilitate your payment of the applicable charges on behalf of the service provider. Charges paid by you are final and non-refundable, unless otherwise determined by La Trober. All charges are due immediately and payment will be facilitated by La Trober using the preferred payment method designated in your account, after which La Trober will send you a receipt. After you have received services, you will have the opportunity to rate your experience and leave additional feedback about your service provider.
          <br/>
          You shall be responsible for the cost of repair for damage to, or necessary cleaning of, service provider vehicles and property resulting from use of the services under your account in excess of normal “wear and tear” damages and necessary cleaning. In the event that a third party provider reports the need for repair or cleaning, and such repair or cleaning request is verified by La Trober.
        </p> 


        <h2> 5. Collection of information</h2> 
        <p>
          <b>Information you provide to us:</b>
          <br/>
          We collect information you provide directly to us, such as when you create or modify your account, request on-demand services, contact customer support, or otherwise communicate with us. This information may include: name, email, phone number, postal address, profile picture, payment method, and other information you choose to provide.
          <br/><br/>
          <b>Information we collect through your use of our services</b><br/>
          When you use our services, we collect information about you in the following general categories: <br/><br/>
          <b>Location information:</b><br/>
           when you use the services for transportation, we collect precise location data about the trip from the La Trober app used by the driver. If you permit the La Trober app to access location services through the permission system used by your mobile operating system, we may also collect the precise location of your device when the app is running in the foreground or background.  <br/><br/>
          <b>Transaction information: </b> <br/>
          we collect transaction details related to your use of our services, including the type of service requested, date and time the service was provided, amount charged, distance travelled, and other related transaction details. <br/><br/>
          <b>SMS data: </b> 
          <br/>our services facilitate communications between riders and drivers. In connection with facilitating this service, we receive data, including the date and time of the SMS message, the user’s phone numbers, and the content of the SMS message.

          <br/><br/>

          <b>Use of information:</b><br/>
          We may use the information we collect about you to: Provide, maintain, and improve our services, including, for example, to facilitate payments, send receipts, provide products and services you request (and send related information), develop new features, provide customer support to riders and drivers, develop safety features, authenticate users, and send product updates and administrative messages. <br/>
          Perform internal operations, including, for example, to prevent fraud and abuse of our services; to troubleshoot software bugs and operational problems; to conduct data analysis, testing, and research; and to monitor and analyse usage and activity trends.<br/>
          Send or facilitate communications (i) between you and a driver, such as estimated times of arrival (etas), or (ii) between you and a contact of yours at your direction in connection with your use of certain features.
        </p> 
        
        <h2>6. Sharing of information</h2> 
        <p>We may share the information we collect about you as described in this statement or as described at the time of collection or sharing, including as follows: <br/>
        We may share your information with drivers to enable them to provide the services you request. For example, we share your name, photo (if you provide one), average user rating given by drivers, and pickup and/or drop-off locations with drivers.</p>

        <h2>7. Account information</h2>
        <p>You may correct your account information at any time by logging into your online or in-app account. Please note that in some cases we may retain certain information about you as required by law, or for legitimate business purposes to the extent permitted by law. For instance, if you have a standing credit or debt on your account, or if we believe you have committed fraud or violated our terms, we may seek to resolve the issue before deleting your information.
        </p>
        </div>

        <div class="modal-footer">
         <!-- <button type="button" class="btn btn-primary" id="save">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
        </div>

      </div>
    </div>
  </div>

</template>