<!-- This templates shows the trip history to the drivers and the riders-->

<template name="tripHistoryModal">
  <div class="col-xs-12 col-md-12" style="margin-top: 6em;">
    <div class="logo-outer" style="text-align: left;">
      <h3 style="text-align: left;">My Recent Trips  </h3>
    </div>
  </div>

 {{#if userType}}
            
              {{#if tripList}}     
                 {{#each tripList}}
                  <div class="row" style="text-align: left;">
                   <div class="panel panel-default" style="background: none; margin-bottom: 0px; border-color: none;">
                      <div class="panel-heading" style="background: none; padding: 0em;">
                      </div>
                    </div>
                  </div>
                  <div class="row" style="text-align: left;">

                      <div class="panel panel-default" style="background: none">
                        <div class="panel-heading" style="background: #2ad2c9; padding: 2.1em 0em; color: #fff">
                          <div class="col-sm-9 col-xs-9 col-md-9">
                            {{dateTime}}
                          </div>
                          <div class="col-sm-3 col-xs-3 col-md-3">
                            $AU {{earnings}}
                          </div>

                        </div>
                        <div class="panel-body">
                          <div class="col-sm-12 col-xs-12 col-md-12 logo-outere">
                            <span>Rating: </span>  {{tripRatingRiderGot}}<div style="height: 0.3em;"></div>
                            <span>Rider Name: </span> {{nameOfRider}}<div style="height: 0.3em;"></div>
                            <span>From: </span>{{riderPickUpAddress}}<div style="height: 0.3em;"></div>
                            <span>To: </span> {{riderDestinationAddress}}
                          </div>
                        </div>
                      </div>
                      
                      
                  </div>
                 {{/each}}
              {{else}}
                No Trips Found
              {{/if}}

          {{else}}
            {{#if tripList}}     
                 {{#each tripList}}
                 <div class="row" style="text-align: left;">
                   <div class="panel panel-default" style="background: none; margin-bottom: 0px; border-color: none;">
                      <div class="panel-heading" style="background: none; padding: 0em;">
                      </div>
                    </div>
                  </div>
                  <div class="row" style="text-align: left;">

                      <div class="panel panel-default" style="background: none">
                        <div class="panel-heading" style="background: #2ad2c9; padding: 2.1em 0em; color: #fff">
                          <div class="col-sm-9 col-xs-9 col-md-9">
                            {{dateTime}}
                          </div>
                          <div class="col-sm-3 col-xs-3 col-md-3">
                            $AU {{earnings}}
                          </div>

                        </div>
                        <div class="panel-body">
                          <div class="col-sm-12 col-xs-12 col-md-12 logo-outere">
                            <span>Rating: </span>  {{tripRatingDriverGot}}<div style="height: 0.3em;"></div>
                            <span>Driver's Name: </span> {{nameOfDriver}}<div style="height: 0.3em;"></div>
                            <span>From: </span>{{riderPickUpAddress}}<div style="height: 0.3em;"></div>
                            <span>To: </span> {{riderDestinationAddress}}
                          </div>
                        </div>
                      </div>
                      
                      
                  </div>
                 {{/each}}
                {{else}}
                No Trips Found
              {{/if}}
            
          {{/if}}

          <div style="height: 20px;"></div>

      <!--  </div>

        <div class="modal-footer">
          
        </div>

      </div>
    </div>
  </div> -->
</template>

