<!--This template renders the users screen based on their type -->
<template name="welcome">
    {{#if currentUser}}

        <div class="row" style="margin-top: 4em;">
	           <div class="col-xs-10 col-md-9">
	 		       <!--<h2>Welcome {{username}}!!</h2>-->
	            </div>

	 	        <div class="col-xs-2 col-md-3">
               <!-- <button class="logout button3"> Logout </button> -->
            </div>
        </div>

        {{#if userType}}

          <!--  <h5><i style="color: #333;"><strong>Tip:</strong> Fill in the details and Press In am available to start receiving requests</i></h5> -->
   
           {{> driver_online}}

	        {{else}}
           <!--  <h5><i style="color: #333;"><strong>Tip:</strong> Fill in the details and Search Drivers to organise a pick up for you</i></h5>-->

        	<p>{{> hellorider}}</p>
        {{/if}}	
    {{else}}
       {{> login}}
    {{/if}}
         
</template>

